[Desktop Entry]
Name=PyCharm Community
Name[ru]=PyCharm Community
Type=Application
NoDisplay=false
Exec=/usr/bin/pycharm
Icon=/usr/share/pixmaps/pycharm.png
Hidden=false
Terminal=false
StartupNotify=true
Categories=Development
X-Fly-OriginFile=/usr/share/applications/pycharm.desktop
