[Desktop Entry]
Name=Среда разработки Thonny
Name[ru]=Среда разработки Thonny
Type=Application
NoDisplay=false
Exec=/usr/bin/thonny
Icon=/usr/share/pixmaps/thonny.png
Hidden=false
Terminal=false
StartupNotify=true
Categories=Development
X-Fly-OriginFile=/usr/share/applications/thonny.desktop
